.logo {
  float: left;
  width: 75px;
  height: 75px;
  margin: 10px 30px;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  padding: 0;
}
