html {
  box-sizing: border-box;
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* fallback for old browsers */
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  outline: 1px solid var(--scrollbarBG);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-wrapper {
  overflow: hidden;
  position: relative;
}

.app-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: url("bg.pic.jpg");
  background-repeat: repeat-y;
  opacity: 0.9;
}

.app-content {
  position: relative;
  min-height: 100vh;
}
